@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*-----------------colors*/

.header-bg-color {}

/*-----------------header*/

.menuitem {
    color: #fafafa;
}

.bg-dark-taylor {
    background-color: transparent;
}

/*-----------------home*/

.home-container {
    height: 100vh;
    background: url("../assets/images/monkeeslive.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}

.lead {
    color: white;
    margin-top: 190px;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;

}

/*-----------------tour*/

.bg-color-tour {
    background-color: rgba(140, 134, 134, 0.075);
}


.tour-heading {
    color: #343a40;
    margin-bottom: 25px;
    margin-top: 50px;
}

.tour-items {
    margin-bottom: 30px;
    margin-left: 30px;
}

.tour-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #343a40;
    border-left: 1px solid;
}

.tour-item p {
    padding: 0;
    margin: 0;
}


.tour-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.tour-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #343a40;
}

.bg-ticket-booking {
    background: url("../assets/images/monkees.jpg") no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



/*-----------------music*/

.bg-color-video {
    background-color: #cacfd5;
}

.music-caption {
    font-family: "Exo", sans-serif;
}

.play-list {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.play-list-style {
    font-family: "Exo", sans-serif;
    background-color: rgba(140, 134, 134, 0.075);
}

/*-----------------news*/

.section-top {
    background-color: rgba(140, 134, 134, 0.075);
}

.secion-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    color: #343a40;
}

.story {
    text-align: center;
    margin-bottom: 40px;
}

/*-----------------footer*/

#footerdetails {
    padding: 20px;
    background-color: #cacfd5;
}

.music-dowload i {
    font-size: 18px;
    color: #8f8f8f;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.music-dowload i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
}


/*-----------------special*/

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, .9);
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}
