@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*-----------------colors*/

.header-bg-color {

}

/*-----------------header*/

.menuitem {
    color: #fafafa;
    }
    
.bg-dark-taylor {
    background-color: transparent;
}

/*-----------------home*/
.home-container {
    height: 100vh;
    background: url("../assets/images/album2.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.lead {
    color: white;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
    
}
/*-----------------tour*/
.tour-container {
    background-color: green;
    height: 500px;
}

/*-----------------music*/
.music-container {
    background-color: blue;
    height: 500px;
}

/*-----------------photos*/
.photos-container {
    background-color: #dbcece;
    height: 500px;
}

/*-----------------news*/
.news-container {
    background-color: green;
    height: 500px;
}

/*-----------------footer*/
#footerdetails {
    padding: 20px;
    background-color: #f8f9fa!important;
}

.music-dowload i {
    font-size: 18px;
    color: #8f8f8f;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.music-dowload i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
}


/*-----------------special*/
.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: rgba(0,0,0,.9);
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}