@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*-----------------Backgrounds*/

.home-container {
    height: 100vh;
    background: url("../assets/images/monkeeslive.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.play-list-style {
    font-family: "Exo", sans-serif;
    background: url("../assets/images/grey-music-bg.jpg") no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgba(0, 0, 0, 0.86);
}

.bg-color-tour {
    background-color: #f05f40;
}

.badge-success {
    background-color: #f05f40;
}

.bg-ticket-booking {
    background: url("../assets/images/ticketsbg.jpeg") no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.new-photos-container {
    background: url("../assets/images/pictureFrame.jpeg") no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-about {
    background: url("../assets/images/abouttable.jpg") no-repeat top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ticket-bg {
    background-color: rgba(145, 31, 31, 0.32);
}

/*-----------------header*/

.menuitem {
    color: #f05f40;
    font-family: fantasy;
}

.bg-dark-taylor {
    background-color: rgba(0, 0, 0, 0.33);
}

/*-----------------home*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #f05f40;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: fantasy;
}

.lead {
    color: white;
    font-family: fantasy;
    margin-top: 190px;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160;
    }

.text-muted {
    color: #fafafa;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
    margin: 10px;

}


/*-----------------music*/

.music-caption {
    font-family: "Exo", sans-serif;
}

.no-bullet {
    list-style: none;
}

.play-list {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.play-list-text {
    color: #f05f40;
}

.vid-pos{

display: block;
margin: auto;

}



.video-wrapper {
    margin-top: 10px;
    font-style: italic;
    color: #000;
    opacity: 0.5;
    text-decoration: underline;
}

/*-----------------tour*/

.jumbotron-tour {
    color: #f05f40;
    font-family: fantasy;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}


.tour-heading {
    color: #fafafa;
    margin-bottom: 25px;
    margin-top: 50px;
}

.tour-items {
    margin-bottom: 30px;
    margin-left: 30px;
}

.tour-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.tour-item p {
    padding: 0;
    margin: 0;
}


.tour-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.tour-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #343a40;
}


/*-----------------Tickets*/

.bg-color-ticket-head {
    background-color: #cacfd5;
}

.bg-color-tickets {
    background-color: rgba(55, 95, 18, 0.31);
}

.ticket-top {
    color: #f05f40;
    font-family: fantasy;
}

.ticket-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;

}

.ticket-form {
    color: black;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;

}



button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}



/* ----------------------------------------Media Queries */

@media(min-width: 992px) {

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}


/*-----------------photos*/

/*-----------------about*/

.about-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    color: #343a40;
}

.story {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgba(145, 31, 31, 0.24);
}

.about-row {

    margin-top: 10;
}

/*-----------------footer*/

#footerdetails {
    padding: 20px;
    background-color: #cacfd5;
}

.music-dowload i {
    font-size: 18px;
    color: #8f8f8f;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.music-dowload i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
}


/*-----------------special*/

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, .9);
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}
